<!DOCTYPE html>
@{
	Layout = "MainLayout";
}
<table class="bar">
    <tr>
        <td width="33%" class="bar">
            @Html.ActionLink("Пользователи", "Userlist", "Admin", null, new { @class = "bar" })
        </td>
        <td width="33%" class="bar">
            @Html.ActionLink("Зарегистрировать", "Registration", "Admin", null, new { @class = "bar" })
        </td>
        <td width="33%" class="bar">
            @Html.ActionLink("Выйти", "Exit", "Home", null, new { @class = "bar" })
        </td>
    </tr>
</table>
<br><br><br>
<div>
    @RenderBody()
</div>