<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<style type = "text/css">
			table.bar { position:absolute; top:0; left:0; width:100%; background-color: #AFAFAF}
			td.bar { text-align: center; }
			a.bar:link { font-size:24pt; padding:2px 15px; text-decoration:none; color:black; }
			a.bar:visited { color:black; }
			a.bar:hover { color:red; }
			label.MainInfo { font-size:24pt; }
			input.MainInfo { line-height:22pt; }
			.FullScreen { display:table; position: absolute; top:10%; left:0; height:80%; width:100%; }
			.VerticallAlign { display:table-cell; vertical-align:middle; }
			.HorizontalAlign { text-align:center; margin-left:auto; margin-right:auto; width:100%; }
			td.FormLeftTableStyle{ font-size:16pt; text-align:right; width:50%; }
			td.FormRightTableStyle{ font-size:16pt; text-align:left; width:50%; }
			input.SendButton { font-size:16pt; }
		</style>
        <title>Model System</title>
	</head>
	<body>
		<div>@RenderBody()</div>
	</body>
</html>