<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <title>Model System</title>
	</head>
	<body>
        <table class="FullScreen">
            <tr>
                <td class="LeftCell content">
                    @RenderBody()
                </td>
                <td class="RightCell descript">

                </td>
            </tr>
        </table>
	</body>
</html>