@using Model.Models.Work;
@{
  Layout = "TeacherLayout";
}

<table class="TableStyle">
    <tr>
        <th width="5%" class="TableStyle">ID</th>
        <th width="30%" class="TableStyle">Название</th>
        <th width="15%" class="TableStyle">Тип</th>
        <th width="30%" class="TableStyle">Требуемые работы</th>
        <th width="20%" class="TableStyle">Выполняющие</th>
    </tr>
    @foreach (var curWork in ViewBag.Works)
    {
        <tr>
            <td class="TableStyle">
                @Html.Raw(curWork.WorkID)
            </td>
            <td class="TableStyle">
                @Html.ActionLink((string)curWork.Name, "TestDetails", "Teacher", new { ID = curWork.WorkID }, new { @class = "TableLink" })
            </td>
            <td class="TableStyle">
                @{
                    switch (curWork.Type)
                    {
                        case EWorkType.WT_TEST:
                            <text>
                                <label class="TableStyle">Тестирование</label>
                            </text>
                            break;
                        case EWorkType.WT_UNITY_WORK:
                        case EWorkType.WT_JS_WORK:
                            <text>
                                <label class="TableStyle">Работа</label>
                            </text>
                            break;
                    }
                }
            </td>
            <td class="TableStyle">
                @{
                    foreach (var require in curWork.Require)
                    {
                        <label class="TableStyle">@require.WorkName </label>
                        <br>
                    }
                }
            </td>
            <td class="TableStyle">
                @{
                    foreach (var student in curWork.StudentID)
                    {
                        @Html.ActionLink((string)(student.FirstName + " " + student.SecondName), "Profile", "Teacher", new { ID = student.ID }, new { @class = "TableLink" })
                        <br>
                    }
                }
            </td>
        </tr>
    }
</table>