@{
    Layout = "MainLayout";
}
<table class="bar">
    <tr>
        <td width="33%" class="bar">
            @Html.ActionLink("Профиль", "Profile", "Teacher", null, new { @class = "bar" })
        </td>
        <td width="34%" class="bar">
            @Html.ActionLink("Журнал", "Journal", "Teacher", null, new { @class = "bar" })
        </td>
        <td width="33%" class="bar">
            @Html.ActionLink("Выйти", "Exit", "Home", null, new { @class = "bar" })
        </td>
    </tr>
</table>
<br><br><br>
<div>@RenderBody()</div>