<!DOCTYPE html>
@{
  Layout = null;
}
<html>
  <head>
		<style type = "text/css">
			.center{ text-align: center; }
		</style>
    <script src="../Modules/Chemistry/TemplateData/UnityProgress.js"></script>
    <script src="../Modules/Chemistry/Build/UnityLoader.js"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "../Modules/" + '@ViewBag.Module' + "/Build/Web_Release_Data.json", {onProgress: UnityProgress});

      function GetUserData()
      {
        gameInstance.SendMessage("SceneController", "LoadData", `@(new Microsoft.AspNetCore.Html.HtmlString(ViewBag.Setting))`);
      }

      function SaveResult(answer)
      {
        window.location.replace("SaveAnswer?answer=" + answer);
      }
    </script>
  </head>
  <body>
    <div class="center">
      <div class="webgl-content">
        <div id="gameContainer" style="width: 860px; height: 550px; text-align: center;"></div>
      </div>
    </div>
  </body>
</html>

	timetable.addEvent('Процесс 1', 'Заявка 1', new Date(2021, 01, 22, 12, 30), new Date(2021, 01, 22, 16, 15));
    timetable.addEvent('Процесс 2', 'Заявка 1', new Date(2021, 01, 22, 16, 15), new Date(2021, 01, 22, 17, 20));
    timetable.addEvent('Процесс 1', 'Заявка 2', new Date(2021, 01, 22, 10, 10), new Date(2021, 01, 22, 11, 45));
	
	Html.Raw("timetable.setScope(7, 19)");
        Html.Raw("timetable.addEvent(");
        Html.Raw(new Microsoft.AspNetCore.Html.HtmlString(curOperation.Name) + ", ");
        Html.Raw(new Microsoft.AspNetCore.Html.HtmlString(curOperation.Order) + ", ");
        Html.Raw("new Date(2021, 01, 22, 12, 30), ");
        Html.Raw("new Date(2021, 01, 22, 16, 15));");