<!DOCTYPE html>
@{
    Layout = "MainLayout";
}
<html>
    <head>
    </head>
    <body>
        <div class="FullScreen">
			<div class="VerticallAlign">
				<div class="HorizontalAlign">
					<label class="MainInfo">ТЫ НЕ ПРОЙДЁШЬ!</label>
				</div>
			</div>
		</div>
    </body>
</html>
