@using Model.Models.Statistics.Testing
@{
  Layout = "StudentLayout";
}

<div class="center-align">
    <table class="TableStyle">
        <tr>
            <th width="40%" class="TableStyle">Название работы</th>
            <th width="20%" class="TableStyle">Полученный балл</th>
            <th width="20%" class="TableStyle">Минимальный балл</th>
            <th width="20%" class="TableStyle">Максимальный балл</th>
        </tr>
        @foreach (CUserStatistic curResult in ViewBag.Results)
        {
            @Html.Raw("<tr><td class=\"TableStyle\">" + curResult.TestName + "</td><td class=\"TableStyle\">"
                + curResult.Scores.Score
                + "</td><td class=\"TableStyle\">" + curResult.Scores.MinScore
                + "</td><td class=\"TableStyle\">" + curResult.Scores.MaxScore + "</td></tr>");
        }
    </table>
</div>